---
import MainLayout from "../layouts/main.astro"
import ContainerLayout from "../layouts/container.astro";
import Reel from "../components/Reel.astro";
import CoverVideo from "../components/CoverVideo.tsx";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
import NewsletterSignup from "../components/NewsletterSignup.astro";

// export const GRID = false;

// Fetch cover video URLs (server side)
const VIDEO_QUERY = `*[_type == "coverVideos"][0].videos[]{
  "url": file.asset->url,
  color
}`;
const videos = (await sanityClient.fetch<{ url: string; color: "dark" | "light" }[]>(VIDEO_QUERY)) ?? [];

const REEL_QUERY = `*[_type == "reel"][0]{
  reelItems[]{
    slug,
    media,
    "imageUrl": media.imageItem.image.asset->url,
    "videoUrl": media.videoItem.file.asset->url,
  }
}`;
const reel = (await sanityClient.fetch<SanityDocument>(REEL_QUERY)) ?? { reelItems: [] };
---
{
  <MainLayout page="Artist">
    <main class="mx-auto min-h-screen max-w-3xl lg:flex">
      <div class="relative">
        <div
          class="h-screen bg-neutral-100"
          aria-hidden="true"
        ></div>
        <div class="absolute inset-0">
          <CoverVideo client:only="preact" videos={videos} />
        </div>
      </div>
      <div class="mb-8">
        <Reel reel={reel} />
      </div>
      <ContainerLayout>
        <NewsletterSignup />
      </ContainerLayout>
    </main>
  </MainLayout>
}

