---
import MainLayout from "../layouts/main.astro"
import Navbar from "../components/Navbar.astro"
import ContainerLayout from "../layouts/container.astro";
import Reel from "../components/Reel.astro";
import Grid from "../components/Grid.astro";
import Menu from "../components/Menu.astro";

export const GRID = false;
---
{
  GRID ? (
    <MainLayout page="Artist">
	  <Menu />
      <main id="page" class="transition-transform duration-500 ease-out mx-auto min-h-screen max-w-3xl lg:flex">
        <Navbar />
	    <Grid />
      </main>
    </MainLayout>
  ) : (
    <MainLayout page="Artist">
	  <Menu />
      <main id="page" class="transition-transform duration-500 ease-out mx-auto min-h-screen max-w-3xl lg:flex">
        <Navbar />
	    {/* <ContainerLayout> */}
			<Reel />
		{/* </ContainerLayout> */}
      </main>
    </MainLayout>
  )
}

