---
import MainLayout from "../layouts/main.astro"
import Navbar from "../components/Navbar.tsx"
import ContainerLayout from "../layouts/container.astro";
import Reel from "../components/Reel.astro";
import Grid from "../components/Grid.astro";
import Menu from "../components/Menu.astro";
import Biography from "../components/Biography.astro";
import Footer from "../components/Footer.astro"
import CoverVideo from "../components/CoverVideo.tsx";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";

// export const GRID = false;

// Fetch cover video URLs (server side)
const VIDEO_QUERY = `*[_type == "coverVideos"][0].videos[]{
  "url": file.asset->url,
  color
}`;
const videos = await sanityClient.fetch<{url: string, color: "dark" | "light"}[]>(VIDEO_QUERY);

const REEL_QUERY = `*[_type == "reel"][0]`
const reel = await sanityClient.fetch<SanityDocument>(REEL_QUERY)
---
{
  <MainLayout page="Artist">
    <main class="mx-auto min-h-screen max-w-3xl lg:flex">
      <CoverVideo client:only="preact" videos={videos}/>
      <ContainerLayout>
        <Reel reel={reel} />
        <Biography />
      </ContainerLayout>
    </main>
  </MainLayout>
}

