---
import { type SanityImageSource, createImageUrlBuilder } from "@sanity/image-url";
import { sequence } from "astro:middleware";
import { number } from "astro:schema";
import { type SanityDocument } from "sanity";
import { sanityClient } from "sanity:client";
import { GAP_4 } from "../styles/style";

interface Result {
    videos: any[];
}

// const COUNT_QUERY = `count(*[_type == "coverVideos"][0].videos)`;
// const count = await sanityClient.fetch<number>(COUNT_QUERY);

const POST_QUERY_1 = `*[_type == "coverVideos"][0]`
const result = await sanityClient.fetch<SanityDocument & Result>(POST_QUERY_1);
const random = Math.floor(Math.random() * result.videos.length);
const POST_QUERY_2 = `*[_type == "coverVideos"][0]{
  "videoUrl": videos[${random}].file.asset->url,
  "color": videos[${random}].color
}`
const { videoUrl, color } = await sanityClient.fetch<{ videoUrl: string, color: "dark" | "light"}>(POST_QUERY_2)
---
<div class="video-wrapper">
  <video autoplay muted loop playsinline>
    <source src={videoUrl} type="video/mp4" />
  </video>
</div>

