---
import SocialMedia from "./SocialMedia.astro";

const year = new Date().getFullYear();
---
<div class="font-light flex justify-between pl-6 pr-8 mb-6">
    <div>&copy; {year ? year : "2026"} Rumi Dalle</div>
    <SocialMedia />
</div>