---
import SocialMedia from "./SocialMedia.astro";

const year = new Date().getFullYear();
---
<div class="font-light text flex items-end pl-5 pr-5 pb-6">
    <div>&copy; {year ? year : "2026"} Rumi Dalle. All rights reserved.</div>
    <SocialMedia />
</div>