---
import { PortableText } from "astro-portabletext";
import ContactInfo from "./ContactInfo.astro";

const { heading, text } = Astro.props;
---
<div class="font-['Montserrat'] flex flex-col gap-3 text-sm lg:text-xl tracking-wide">
  <div class="prose">
    {Array.isArray(text) && <PortableText value={text} />}
  </div>
  {heading.toLowerCase() === "contact" && <ContactInfo />}
  <!-- <div
    class="mt-8 flex items-center justify-center gap-4 text-neutral-500"
    aria-hidden="true"
  >
    <span class="text-base leading-none"></span>
  </div> -->
</div>
