---
import SocialMedia from "./SocialMedia.astro"

const menuList = ["Artist", "Collaborations", "Contact"]
---
<div
  id="menu-backdrop"
  class="
    fixed inset-0 z-40
    bg-black/20
    opacity-0 pointer-events-none
    transition-opacity duration-500
  "
></div>

<aside
  id="menu"
  class="
    fixed right-0 top-0 z-50
    flex h-dvh w-72 flex-col
    bg-neutral-200 px-8 pt-12 pb-12
    translate-x-full
    transition-transform duration-500 ease-out
  "
>
  <!-- Close button -->
  <!-- <div class="flex justify-end">
    <button
      id="menu-button"
      type="button"
      aria-label="menu"
      aria-expanded="false"
      class="text-2xl"
    >
      <span class="text-lg uppercase">{"<"}</span>
    </button>
  </div> -->

  <!-- Menu items -->
  <div class="flex flex-col gap-6">
    <nav class="flex flex-col gap-2">
      {menuList.map((item) => (
        <a
          href={item.toLowerCase()}
          class="
            text-xl tracking-normal transition-all duration-300 hover:translate-x-2 hover:opacity-60 uppercase
          "
        >
          {item}
        </a>
      ))}
    </nav>
    <SocialMedia />
  </div>
</aside>

<script>
  const menu = document.getElementById("menu");
  const backdrop = document.getElementById("menu-backdrop");
  const button = document.getElementById("menu-button");
  const page = document.getElementById("page");

  let open = false;

  function setMenu(state: any) {
    open = state;

    // menu animation
    menu?.classList.toggle("translate-x-0", open);
    menu?.classList.toggle("translate-x-full", !open);

    // backdrop animation
    backdrop?.classList.toggle("opacity-100", open);
    backdrop?.classList.toggle("pointer-events-auto", open);
    backdrop?.classList.toggle("opacity-0", !open);
    backdrop?.classList.toggle("pointer-events-none", !open);

    // aria state
    button?.setAttribute("aria-expanded", String(open));

    page?.classList.toggle("-translate-x-24", open);
  }

  window.addEventListener("toggle-menu", () => {
    setMenu(!open);
  });

  button?.addEventListener("click", () => {
    setMenu(false);
  });

  backdrop?.addEventListener("click", () => {
    setMenu(false);
  });
</script>