---
const menuList = ["Story", "Performance", "Sculpture", "CV"]
import ContainerLayout from "../layouts/container.astro"
---

<ContainerLayout>
    <div class="">
        {menuList.map((item) => <div class="flex items-center justify-center py-4 text-gray-500">{item}</div>)}
    </div>
</ContainerLayout>