---
const firstName = "Rumi"
const lastName = "Dalle"
---

<div class="fixed top-0 left-0 w-full z-50 flex items-center pt-4 px-4 mb-8">
    <h1 class="flex-1 text-2xl lg:text-7xl"><a href="">{firstName}{' '}{lastName}</a></h1>
    <button id="burger" type="button" class="hamburger" aria-label="menu" aria-expanded="false">
      <span></span>
      <span></span>
    </button>
</div>

<script>
  const burger = document.getElementById("burger");
  burger?.addEventListener("click", () => {
    window.dispatchEvent(new CustomEvent("toggle-menu"));
  });
</script>
 

