---
---

<div class="flex justify-between mt-3 mb-2 px-2 pr-3 items-center fixed">
    <div class="text-xl text-white opacity-50">it felt like a dream</div>
    <!-- <button class="hamburger" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button> -->
</div>

