---
---
<section class="text-gray-400 p-10 text-xs text-center">
    <p>
        I am on a journey to discover myself. I drove to the airport, past what is left of Beirut. What was. The destroyed port, torn buildings, torn
        lives – a city in transition.
    </p>
</section>