---
import { type SanityImageSource, createImageUrlBuilder } from "@sanity/image-url";
import { sanityClient } from "sanity:client"

const { reel } = Astro.props;
const { reelItems } = reel;

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) => 
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
---
<div class="flex flex-col gap-0">
    {
      reelItems.map(
        ({
          imageUrl,
          media,
          slug,
          videoUrl,
        }: {
          imageUrl: string | null;
          media: any;
          slug: { current: string };
          videoUrl: string | null;
        }) => 
          <div>
          { media.type === "image" ? 
            slug.current ? (
              <a href={"work/" + slug.current}>
                <img
                  src={urlFor(imageUrl!)?.width(800).url()}
                  alt={media.imageItem.alt}
                />
              </a>
            ) : (
              <img
                src={urlFor(imageUrl!)?.width(800).url()}
                alt={media.imageItem.alt}
              />
            ) : 
              <video class="w-full" id="player" autoplay muted playsinline loop controls>
                <source src={videoUrl}/>
              </video>
          }
          </div>
        )}
</div>