---
import { siInstagram } from "simple-icons";
import { siYoutube } from "simple-icons";
---

<div class="flex gap-4">
    <a href="https://instagram.com/rumidalle" class="opacity-70 transition-opacity hover:opacity-100">
      <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        set:html={siInstagram.svg}
      />
    </a>
    <a href="https://youtube.com/" class="opacity-70 transition-opacity hover:opacity-100">
      <svg
        viewBox="0 0 24 24"
        width="24"
        height="24"
        set:html={siYoutube.svg}
      />
    </a>
</div>