---
const { year, medium, body} = Astro.props;
---
<div
  id="work-info"
  class="bg-neutral-100 absolute px-2 top-10 w-full overflow-hidden max-h-0 transition-all duration-500"
> 
  <ul class="flex flex-col gap-2 font-light">
    <li class="italic">{year}</li>
    <hr />
    <li>{body}</li>
  </ul>
</div>