---
const { next } = Astro.props;
---
<nav class="group text-center text-sm border border-gray-800 hover:border-black">
    <a class="block w-full uppercase text-gray-800 group-hover:text-black" href={next.slug}>follow the thread &rarr;</a>
</nav>
