---
import type { SanityDocument } from "@sanity/client";
import { PortableText } from "astro-portabletext";
import { sanityClient } from "sanity:client";
import ContainerLayout from "../../layouts/container.astro";

const POST_QUERY = `*[_type == "cv"][0]`;
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params);
---

<ContainerLayout page="Curriculum Vitae">
    <div class="flex flex-col gap-4">
        <a href="/" class="hover:underline">&larr; Back to Home</a>
        <div>
            {Array.isArray(post.body) && <PortableText value={post.body} />}
        </div>
    </div>
</ContainerLayout>

