---
import '../styles/global.css';
const { page } = Astro.props
import { ClientRouter } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Rumi Dalle &ndash; {page ? page : "Artist"}</title>
		<ClientRouter />
	</head>
	<body class="mb-10">
		<slot />
	</body>
</html>
