---
import MainLayout from "../../layouts/main.astro"
---
<!-- <MainLayout> -->
    <section class="relative h-screen overflow-hidden">
      <video
        autoplay
        muted
        loop
        playsinline
        class="absolute inset-0 h-full w-full object-cover"
      >
        <source src="/video/vid-1.mp4" type="video/mp4" />
      </video>
    
      <div
        class="
          absolute inset-0 z-10
          flex items-center justify-center
        "
      >
        <h1 class="text-5xl uppercase text-white md:text-7xl">
          RUMI DALLE
        </h1>
      </div>
    </section>
<!-- </MainLayout> -->